.search {
  display: none;

  @media (width > 767px) {
    display: block;
  }
}

.inputSearch {
  position: relative;
  width: 250px;
  padding-left: 40px;
  /* text-align: center; */
  margin: 0 auto 1rem;
}
.icon {
  position: absolute;
  left: 18px;
  top: 43px;

  fill: #555;
  padding: 0.313rem;
  width: 30px;
  height: 31px;
  cursor: pointer;

  background-color: #ccc;

  stroke: #f44336;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:focus,
  &:hover {
    fill: #ccc;
    background-color: #555;
    border-radius: 0.125rem;
  }
}
