.search {
  display: none;

  @media (width > 767px) {
    display: block;
    padding: 1rem;
    font-weight: 700;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    /* background-color: #edede9; */
    & label {
      display: block;
      margin: 0.3rem auto;
    }
  }
}

.inputSearch {
  position: relative;
  width: 250px;
  padding-left: 40px;
  /* text-align: center; */
  margin: 0 auto 1rem;
}
.icon {
  position: absolute;
  left: 18px;
  top: 43px;

  fill: #fff;
  padding: 0.313rem;
  width: 30px;
  height: 31px;
  cursor: pointer;

  background-color: #ccc;

  /* stroke: #f44336; */
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:focus,
  &:hover {
    fill: #555;
    /* background-color: #555; */
    border-radius: 0.125rem;
  }
}
