section {
  background-color: #ccc;

  @media (width > 767px) {
    height: 300px;
  }
  /* padding: 20px; */
}
p {
  display: flex;
  margin: 0;

  /* font-size: 0.75rem; */
}
a {
  color: var(--NAVYBLUE);
}
.clientAddress {
  text-transform: capitalize;
}

.clientDetailsDiv {
  @media (width > 767px) {
    padding: 40px 20px;
  }
}

textarea {
  display: none;
  @media (width > 767px) {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    outline: none;
    border: none;
  }
}
