.submitBtn {
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #84a98c;
  color: #fff;
  padding: 0.5rem 1rem;
  /* outline: 0.5 solid red; */
  border: none;
  border-radius: 2rem;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 150ms;
  &:hover,
  &:focus {
    outline: 0.188rem solid #52796f;

    border-radius: 2rem;
  }
}
